body {
    background: #efca97;
    margin: 0;
}

#header {
    margin: 0;
    text-align: center;
    padding: 10px;
    background-color: #37210e;
    color: white;
    margin-bottom: 50px;
}

#user-container {
    position: absolute;
}

h1 {
    text-align: center;
    font-size: 96px;
    margin-top: 0;
}

p {
    color: white;
    font-size: 3em;
    margin: 5px 0;
}

@media (min-device-width: 600px) {
    p {
        font-size: 2em;
    }
}